	<div class="row top-menu" style="background-color: #9CC2E5;">
		<div class="col-md-10" align="right">{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">Login </a>
			{% else %}
			<a href="{{url_for('gdisconnect')}}">Logout </a>
			{% endif %}</div>
		<div class="col-md-6 text-right">
					

	</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12">
			
		</div>
	</div>
	<div class="row banner main" >
		<div class="col-md-1" align="left"> </div>
		<div class="col-md-11 padding-none">
			<h1>Catalog App</h1>
		</div>
	</div>
	
